/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

// font family
$font-family-sans-serif: 'Ubuntu', Arial, sans-serif !default;
$heading-font: 'Ubuntu', Arial, sans-serif !default;

// font size
$h1-font-size: 2.4em;
$h2-font-size: 1.4em;

// font colour
$heading-color: #000000 !default;

// code
$code-color: #800080 !default;
$code-block-font-size: 0.6em;
$code-block-border-color: #E6E6FA;
$code-block-bg: #E6E6FA;

// bg colours
$body-color: #000000 ;
$link-color: #800080;
$body-bg: #FFFFFF;
$pretty-highlight: #800080;
$pretty-light: #E6E6FA;
$pretty-dark: #330033;

/*-- scss:rules --*/

.title {
  color: $body-color;
  font-size: $h1-font-size;
  font-family: $heading-font;
}

.subtitle {
  color: $body-color;
  font-size: $h2-font-size;
  font-family: $font-family-sans-serif;
}

.description {
  color: $body-color;
  font-size: $h4-font-size;
  font-family: $font-family-sans-serif;
}

.author {
  color: $body-bg;
  font-size: $h4-font-size;
  font-family: $font-family-sans-serif;
}

.author a {
  color: $body-bg;
  font-size: $h4-font-size;
  font-family: $font-family-sans-serif;
}

h1 {
  color: $body-color;
  font-size: $h1-font-size;
  font-family: $heading-font;
}

h2 {
  color: $body-color;
  font-size: $h2-font-size;
  font-family: $heading-font;
}

h3 {
  color: $body-color;
  font-family: $heading-font;
}

h4 {
  color: $body-color;
  font-family: $heading-font;
}

section.has-dark-background a, section.has-dark-background a:hover {
  color: $body-bg;
}
