@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
  background-color: #E6E6FA;
  background-image: url(logo.png);
  background-size: 90px;
  background-position: top right;
  background-repeat: no-repeat;
  background-origin: padding-box;
  margin: 0px;
  margin-right: 10px !important;
  margin-top: 20px !important;
  padding: 0px;
}

body {
  font-family: 'Ubuntu', Arial, sans-serif;
  background-color: #FFFFFF;
  margin-left: 0px;
  margin-right: 120px;
  margin-top: 0px;
  margin-bottom: 0px !important;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 0px;
  padding-bottom: 0px !important;
  height: 297mm !important;
  width: 150mm !important;
}

.page {
  page-break-after: always !important;
  width: 210mm !important;
  height: 297mm !important;
}

.title, .subtitle {
	color: #330033;
	font-weight: bold;
}

.title {
  text-transform: uppercase;
  font-weight: 900;
  padding-top: 60px !important;
}

h2, .h2 {
  border-bottom: 2px solid #000000;
  padding-bottom: .5rem;
}

a {
  color: #800080;
}

pre.sourceCode {
  background-color: #E6E6FA;
  padding: 10px;
}
